[user]
	name = Drew Frank
	email = drewfrank@gmail.com
[core]
	autocrlf = input
	safeclrf = true
[color]
    ui = auto
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    br = branch
    ci = commit
    cm = log --format=%B -n 1
    co = checkout
    dc = diff --cached
    di = diff
    ds = diff --stat
    dump = cat-file -p
    fa = fetch --all
    ff = merge --ff-only
    head = !git l -1
    h = !git head
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    la = !git l --all
    l = log --graph --abbrev-commit --date=relative
    noff = merge --no-ff
    pom = push origin master
    pullff = pull --ff-only
    ra = !git r --all
    r = !git l -20
    rb = "!f() { \
        if [ \"$1\" = \"\" ]; then NUM=10; else NUM=\"$1\"; fi; \
        git reflog | grep checkout | cut -d \" \" -f 6 | awk '!x[$0]++' | head -$NUM; }; f"
    st = status
    type = cat-file -t
[credential]
	helper = cache --timeout=3600
[push]
    default = current
