Config { font = "-*-terminus-*-*-*-*-10-*-*-*-*-*-*-*"
       , bgColor = "black"
       , fgColor = "grey"
       , position = Bottom
       , commands = [
                      Run Network "eth0" ["-L","0","-H","32","--normal","#a4d3ee","--high","red","-t","<rx>|<tx>"] 10
                    , Run Cpu ["-L","10","-H","60","--normal","#a4d3ee","--high","red","-t","<total>"] 10
                    , Run Memory ["-L","30","-H","70","--normal","#a4d3ee","--high","red","-t","<usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Com "hostname" [] "" 36000
    		    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fc=#ee9a00>Cpu:</fc> %cpu% | <fc=#ee9a00>Mem:</fc> %memory% | <fc=#ee9a00>eth0:</fc> %eth0% } %hostname% - %uname% { <fc=#ee9a00>%date%</fc>"
       }
